In [1]:
a= 5

In [2]:
A

NameError: name 'A' is not defined

In [3]:
print ('hello','world')

hello world

In [4]:
a= 'hello'
b= 'world'
print(a+b)

helloworld

In [6]:
print('he is called "Johnny"')

he is called "Johnny"

In [8]:
b = 'hello world'
print(b[1:8])

ello wo

In [9]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [10]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [12]:
list = ['apple','banana','car']
list[0]

'apple'

In [13]:
list[0] = 'benz'
list

['benz', 'banana', 'car']

In [14]:
list.append('orange')

In [15]:
list

['benz', 'banana', 'car', 'orange']

In [16]:
list.insert(1,'lambo')
list

['benz', 'lambo', 'banana', 'car', 'orange']

In [18]:
list.pop(1)
list

['benz', 'banana', 'car', 'orange']

In [20]:
for i in list:
    print(i)

benz
banana
car
orange

In [1]:
elements = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
frequency = {}
for item in elements:
    frequency[item] = frequency.get(item, 0) + 1

In [2]:
frequency

{'apple': 3, 'banana': 2, 'orange': 1}

In [4]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("brand")

print(x)

Ford

In [2]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    break
  print(i)

1
2

In [3]:
for x in 'car':
    print(x)

c
a
r

In [4]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [7]:
for x in range(2,6,2):
    print(x)

2
4

In [8]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [9]:
for x in [0, 1, 2]:
  pass

In [1]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [2]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [1]:
x= lambda a : a+10

In [2]:
print(x(10))

20

In [3]:
x = lambda a,b : a*b +10

In [4]:
print(x(5,1))

15

In [6]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [7]:
def myfunc(n,c):
    return lambda a : n*c + a
myfunc2 = myfunc(3,4)
print(myfunc2(15))

27

In [8]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [9]:
class MyClass:
    x=6

In [10]:
MyClass.x

6

In [11]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

In [12]:
p1 = Person ('john',25)

In [13]:
p1.age

25

In [14]:
p1.name

'john'

In [15]:
class cars:
    def __init__(self,brand,year,country):
        self.brand = brand
        self.year = year
        self.country = country

In [16]:
bmw = cars ('bmw',2020,'germany')

In [17]:
bmw.brand

'bmw'

In [18]:
bmw.country

'germany'

In [19]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [20]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x000002230C359160>

In [23]:
class cars:
    def __init__(self,brand,year,country):
        self.brand = brand
        self.year = year
        self.country = country
    def __str__(self):
        return f"{self.brand}({self.year})_{self.country}"

In [24]:
BMW = cars('bmw',2024,'Germany')
print(BMW)

bmw(2024)_Germany

In [25]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [1]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def myfunct(self):
        print('Hi my name is '+ self.name)

In [2]:
p1 = person('john', 35)
p1.myfunct()

Hi my name is john

In [5]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(mysillyobject):
    print("Hello my name is " + mysillyobject.name)

p1 = Person("Johnn", 36)
p1.myfunc()

Hello my name is Johnn

In [6]:
p1.age

36

In [7]:
p1.name = 'ali'

In [8]:
p1.myfunc()

Hello my name is ali

In [14]:
class person: 
    def __init__(self,firstname,lastname):
        self.firstname = firstname 
        self.lastname = lastname
    def printname(self):
        print(self.firstname,self.lastname)

In [15]:
x = person('john','doe')
x.printname()

john doe

In [16]:
class Student(person):
    pass

In [18]:
y = Student('ali','mokhtari')
y.printname()

ali mokhtari

In [23]:
class student(person):
    def __init__(self,fname,lname):
        self.fname = fname
        self.lname = lname
    def __str__(self):
        return f"{self.fname} {self.lname}"

In [24]:
x=student('mm','mos')

In [26]:
print(x)

mm mos

In [3]:
class person: 
    def __init__(self,fname,lname):
        self.fname = fname
        self.lname = lname
    def printname(self):
        print(self.fname,self.lname)
p1 = person('ali','mo')
p1.printname()

ali mo

In [22]:
class student(person):
    def __init__(self,fname, lname):
        super().__init__(fname,lname)
        self.graduationyear = 2019
    def __str__(self):
        return f"{self.fname}, {self.lname},  graduation year: {self.graduationyear}"

In [25]:
a = student('mohammad','mo')
print(a)

mohammad, mo,  graduation year: 2019

In [19]:
class student(person):
    def __init__(self,fname, lname,year):
        super().__init__(fname,lname)
        self.graduationyear = year
    def __str__(self):
        return f"{self.fname}, {self.lname},  graduation year: {self.graduationyear}"

In [20]:
a = student('mohammad','mo',2020)

In [21]:
print(a)

mohammad, mo,  graduation year: 2020

In [39]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
      x = self.a
      self.a += 1 
      return x

In [42]:
myclass = MyNumbers()
myiter = myclass.__iter__()  ## myiter = iter(myclass)

print(next(myclass))
print(next(myclass))
print(next(myclass))

1
2
3

In [45]:
class MyNumbers: 
    def __iter__(self):
        self.a = 2
        return self
    def __next__(self):
        if self.a <= 25:
            x = self.a
            self.a += 2 
            return x 
        else:
            raise StopIteration

In [46]:
myclass = MyNumbers()
myiter = myclass.__iter__()
for x in myiter:
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24

In [47]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

3

In [48]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [49]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [50]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [53]:
def myfunc():
  global x
  x = 300

myfunc()